<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <link rel="room image" type="image" href="../media/Rooms/Header.png">
        <link rel="room image" type="image" href="../media/Rooms/Rectangle 65.png">
        <link rel="room image" type="image" href="../media/Rooms/Rectangle 66.png">
        <link rel="room image" type="image" href="../media/Rooms/Rectangle 68.png">
        <link rel="room image" type="image" href="../media/Rooms/Rectangle 70.png">
        <link rel="room image" type="image" href="../media/Rooms/Rectangle 72.png">
        <link rel="room image" type="image" href="../media/Rooms/Rectangle 74.png">

        <title>Rooms and Rates</title>
    </head>
    <body>
        
        <h1 class="Accomodation at glance">
            
        </h1>
    </body>
</html>
